.slide-show {
  overflow: hidden;
  width: 100%;
}

.slides-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 300%; /* Ajuste o valor para exibir o número desejado de slides */
  transition: transform 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.slide {
  flex: 1 0 33.33%; /* Ajuste o valor para exibir o número desejado de slides */
}

.slide img {
  width: 100%;
  height: auto;
}

.slide-controller:nth-child(1):checked~.slide-show .slides-list {
  transform: translateX(0%);
}

.slide-controller:nth-child(2):checked~.slide-show .slides-list {
  transform: translateX(-33.33%); /* Ajuste o valor para exibir o número desejado de slides */
}

.slide-controller:nth-child(3):checked~.slide-show .slides-list {
  transform: translateX(-66.66%); /* Ajuste o valor para exibir o número desejado de slides */
}

.slide-controller {
  display: none;
}