.contato {
    padding: 1em;
    background-color: rgb(26, 31, 48);
}

.contato__titulo,
.contato__texto {
    -webkit-background-clip: text;
    background-clip: text;
    color: white;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
    color: white;
}

.contato__email {
    padding: 1em;
    border: 1px solid black;
    border-radius: 24px;
    width: 90%;
    color: black;
}

.contato__email::placeholder {
    color: black;
    background: url("./Email.svg") no-repeat;
    padding-left: 5em;
}